body {
    background-color: lemonchiffon;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topText {
    display:inline;
    font-size: 18px;
}

.topText button {
    background-color: forestgreen;
}

button {
    background-color: lightgreen;
    font-size: 18px;
}

#quizBox {
    box-sizing: border-box;
    border: 1px solid black;
    width: 50%;
    height: 150px;
    position: relative;
    left: 345px;
    bottom: 55px;
    background-color: cornflowerblue;
}

#stopQuiz {
    position:relative;
    right: 200px;
    top: 10px;
}

#nextQuestion {
    position: relative;
    left: 200px;
    top: 10px;
}